@import "constants.scss";

.page-layout {
  position: relative;
  min-height: 100vh;
  padding: $space-8 $space-8 $space-10 $space-8;
  background-image: url(/static/97450144-cryptocurrency-seamless-pattern-crypto-currency-background-vector-illustration.jpg);
  background-color: $color-grey-3;
  @include mobile {
    padding: $space-4;
  }

  h1 {
    margin-bottom: $space-8;
    color: $color-dark;
    position: relative;
    @include mobile {
      padding: 0;
    }
  }

  &__content {
    min-height: 80vh;
  }
}