@import "constants.scss";

.page-layout {
  position: relative;
  min-height: 100vh;
  padding: $space-8 $space-8 $space-10 $space-8;
  //background-image: url(/static/cryptocurrency_seamless_pattern.jpg);
  //background-attachment: fixed;
  //background-position: center;
  //background-repeat: no-repeat;
  //background-size: cover;
  background-color: $color-grey-3;
  @include mobile {
    padding: $space-4;
  }

  h1 {
    margin-bottom: $space-8;
    color: $color-dark;
    position: relative;
    @include mobile {
      padding: 0;
    }
  }
}