@import "constants.scss";

.pairs-menu {
  display: flex;
  @include mobile {
    flex-direction: column;
  }

  &__footer {
    margin-left: $space-2;
    @include mobile {
      margin: $space-2 0 0 0;
      width: 100%;
      display: flex;
      justify-content: center;
    }
  }
}