@import "constants.scss";

.chart-page-item {
  display: flex;
  flex-wrap: nowrap;
  @include mobile {
    flex-direction: column;
    align-items: flex-start;
  }

  &__elem {
    @include mobile {
      width: 100%;
    }
  }
}